@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
    font-family: 'vsr-ocd-mono';
    src        : url(/public/fonts/VCR_OSD_MONO_1.001.ttf)format('woff2');
    src        : url(/public/fonts/VCR_OSD_MONO_1.001.ttf)format('woff');
    font-weight: normal;
    font-style : normal;
}


.main-wrap {
    font-family  : 'Press Start 2p';
    background   : #000;
    border-radius: 30px;
    padding      : 50px 5px 50px;
    color        : #ffff;
    /* height    : 90vh; */

}

h1 {
    text-align: center;
}

.pick-card {
    background-color: #313130;
    padding         : 10px;
    padding-bottom  : 15px;
    border-radius   : 20px;
    height          : 160px;
    position        : relative;

}

.pick-card img {
    position     : absolute;
    top          : 45px;
    right        : 900px;
    left         : 0px;
    padding-right: 0px;
    height       : 140px;
    width        : 220px;
    z-index      : 2;
}

.content {
    background-color: #313130;
    height          : 160px;
    border-radius   : 16px;
    padding-right   : 100px;

}

.p-l {
    font-family            : 'Press Start 2P', cursive;
    background             : linear-gradient(to bottom, #ffff00, #00ff00, #0000ff);
    background-clip        : text;
    -webkit-text-fill-color: transparent;
    filter                 : drop-shadow(0px 3px rgba(255, 105, 180, 0.7));
    font-size              : 16px;
    padding-right          : 20px;
}

.outline {
    background     : linear-gradient(to bottom, #fab363e7, #00ff00, #8181f5);
    padding        : 1.5px;
    border-radius  : 17px;
    background-clip: padding-box;
    position       : relative;
    z-index        : 1;
}

.content {
    display       : flex;
    flex-direction: column;
    align-items   : end;
    text-align    : end;
    padding       : 0px;
    z-index       : 1;

}


.p-small {
    font-family  : "vsr-ocd-mono" !important;
    color        : #9c9c9c;
    font-size    : 14px;
    margin       : 5px;
    padding-right: 8px;
}


.arrow {
    color: #00ff00;
}

.play-btn {
    background-color: #043a06;
    color           : #52f73d;
    font-family     : 'Press Start 2P';
    font-size       : 10px;
    border-radius   : 6px;
    border-width    : 2px;
    position        : relative;
    border-color    : #52f73d;
    width           : 80px;
    margin-top      : 18px;
    margin-right    : 10px;
    padding-right   : 2px;
    padding-bottom  : 2px;
    padding-top     : 4px;
    padding-left    : 12px;
}

.play-p {
    padding-top  : 0px;
    padding-right: 1px;
    padding-left : 4px;
}



/* ++++++++++++++++++++++++++++++++ PLAY container+++++++++++++++++++++++++++ */



.games {
    display        : flex;
    justify-content: space-evenly;
    gap            : 20px;
    margin-top     : 20px;
    margin-left    : 0px;
}

.games-wrapper {
    background-color: #313130;
    padding         : 12px;
    height          : 150px;
    width           : 130px;
    /* margin       : 20px; */
    border-radius   : 10px;
    position        : relative;
}

.fun-quiz,
.word-scramble {
    position       : relative;
    padding        : 5px;
    border-radius  : 10px;
    text-align     : center;
    place-content  : center;
    font-size      : 14px;
    height         : 80px;
    overflow       : hidden;
    background-clip: padding-box;
}

.fun-quiz p,
.word-scramble p {
    position     : relative;
    z-index      : 2;
    margin-bottom: 1px;
    font-size    : 12px;
}


.fun-quiz::before,
.word-scramble::before {
    content : '';
    position: absolute;
    top     : 1px;
    left    : 1px;
    right   : 1px;
    bottom  : 1px;
    background-image: conic-gradient(black 0deg 10deg,
            rgb(31, 30, 30) 10deg 20deg,
            black 20deg 30deg,
            rgb(31, 30, 30) 30deg 40deg,
            black 40deg 50deg,
            rgb(31, 30, 30) 50deg 60deg,
            black 60deg 70deg,
            rgb(31, 30, 30) 70deg 80deg,
            black 80deg 90deg,
            rgb(31, 30, 30) 90deg 100deg,
            black 100deg 110deg,
            rgb(31, 30, 30) 110deg 120deg,
            black 120deg 130deg,
            rgb(31, 30, 30) 130deg 140deg,
            black 140deg 150deg,
            rgb(31, 30, 30) 150deg 160deg,
            black 160deg 170deg,
            rgb(31, 30, 30) 170deg 180deg,
            black 180deg 190deg,
            rgb(31, 30, 30) 190deg 200deg,
            black 200deg 210deg,
            rgb(31, 30, 30) 210deg 220deg,
            black 220deg 230deg,
            rgb(31, 30, 30) 230deg 240deg,
            black 240deg 250deg,
            rgb(31, 30, 30) 250deg 260deg,
            black 260deg 270deg,
            rgb(31, 30, 30) 270deg 280deg,
            black 280deg 290deg,
            rgb(31, 30, 30) 290deg 300deg,
            black 300deg 310deg,
            rgb(31, 30, 30) 310deg 320deg,
            black 320deg 330deg,
            rgb(31, 30, 30) 330deg 340deg,
            black 340deg 350deg,
            rgb(31, 30, 30) 350deg 360deg);
    border-radius: 15px;
    z-index      : 1;
}


.fun-quiz,
.word-scramble {
    background        : linear-gradient(to bottom, #fab363e7, #00ff00, #8181f5);
    /* padding        : 1px; */
    width             : 120px;
    border-radius     : 15px;
    background-clip   : padding-box;
    position          : relative;
    z-index           : 2;
}

.fun-quiz p,
.word-scramble p {
    position   : relative;
    z-index    : 2;
    font-family: 'Press Start 2P';
}



.games-wrapper>button {
    margin-top      : 20px;
    margin-left     : 22px !important;
    background-color: #043a06;
    color           : #52f73d;
    font-family     : 'Press Start 2P';
    font-size       : 10px;
    border-radius   : 6px;
    border-width    : 2px;
    position        : relative;
    border-color    : #52f73d;
    width           : 80px;
    padding-right   : 2px;
    padding-bottom  : 2px;
    padding-top     : 4px;
}

.games-text-1 {
    background             : linear-gradient(to bottom, #F9EA2F, #A1F234);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip        : text;
    filter                 : drop-shadow(0px 2px rgb(255, 53, 154));
}

.games-text-2 {
    background             : linear-gradient(to bottom, #37C6F2, #300ce4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip        : text;
    filter                 : drop-shadow(0px 2px rgba(255, 53, 154));

}


/* @media (max-width:321px) {
    .pick-card img {
        position     : absolute;
        top          : 2px;
        right        : 900px;
        left         : 0px;
        padding-right: 0px;
        height       : 180px;
        width        : 250px;
        z-index      : 1;
    }

    .games-wrapper {
        width        : 110px;
        padding      : 0px;
        padding-right: 10px;
        margin-left  : 10px;
        padding-top  : 15px;
        padding-right: 15px;


    }

    .games {
        width: 0px;
    }

    .fun-quiz,
    .word-scramble {
        width      : 100px;
        margin-left: 7px;
    }

    .game-btn {
        margin-left: 16px;
    }

    .p-l {
        font-size   : 14px;
        margin-right: 0px;
        margin-top  : 25px;
    }

    .p-small {
        font-size: 12px;
    }
} */

/* @media (max-width:320px){
    .pick-card img{
        position: absolute;
        top: 50px;
        right: 900px;
        left: 0px;
        padding-right: 0px;
        height: 180px;
        width: 250px;
        z-index: 2;
    }

    .games{
        width: fit-content;
    }
    .fun-quiz , .word-scramble{
        width: 100px;
        margin-left: 8px;
    }
} */

@media (max-width:350px) {
    .main-wrap {
        padding: px;
    }

    .games-wrapper {
        width: 120px;
        padding-top: 20px;
        padding: 15px;
        padding-left: 5px;

    }

    .fun-quiz,
    .word-scramble {
        width: 120px;
    }


}